<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"><!--Google Fonts-->
    <link rel="stylesheet" href='/CSS/normalize.css'><!--Archivo CSS-->
    <link rel="stylesheet" href='/CSS/styles.css'><!--Archivo CSS-->
    <script src="https://kit.fontawesome.com/36ed343e06.js" crossorigin="anonymous"></script><!--Font Awsome-->
</head>
<body>
    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="/images/logo.svg" class="logo" alt="Logo Mercado Libre">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i><!--Icono de manito con $ (de font awsome)-->
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href='#'>Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href='#'>Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>

    <!--Formulario-->
    <form action='/crear-producto' method='POST' class='create-form'>
        <div class='control-formulario'>
            <label for='nombre'>Nombre del producto:</label>
            <input type='text' name='nombre' class='control'>
        </div>
        <div class='control-formulario'>
            <label for='precio'>Precio del producto:</label>
            <input type='text' name='precio' placeholder="123.56" class='control'>
        </div>
        <div class='control-formulario'>
            <label>Categoria:</label>
            <select name='categoria' class='control'>
                <option value='hogar'>Hogar</option>
                <option value='electro'>Electro</option>
                <option value='indumentaria'>Indumentaria</option>
            </select>
        </div>
        <div class='control-formulario'>
            <label>Ciudad:</label>
            <select name='ciudad' class='control'>
                <option value='bsas'>Buenos Aires</option>
                <option value='ros'>Rosario</option>
                <option value='mdz'>Mendoza</option>
            </select>
        </div>
        <div class='control-formulario'>
            <label for='descripcion'>Descripcion:</label>
            <textarea name="descripcion" class='control'></textarea>
        </div>
        <div class='control-formulario'>
            <label for='oferta'>Esta en oferta?</label>
            <input type='radio' name='EnOferta' value="Si">
        </div>
        <button type='reset' class='boton-formulario'>Borrar</button>
        <button type='submit' class='boton-formulario'>Guardar</button>
    </form>

    <article class="product">
        <img src="/images/iphone11.png" alt="iphone11">
        <h2>Iphone 11</h2>
    </article>
    <article class="product">
        <img src="/images/iphone11.png" alt="iphone11">
        <h2>Iphone 11</h2>
    </article>
    <article class="product">
        <img src="/images/iphone11.png" alt="iphone11">
        <h2>Iphone 11</h2>
    </article>
    <article class="product">
        <img src="/images/iphone11.png" alt="iphone11">
        <h2>Iphone 11</h2>
    </article>
</body>
</html>